/* Main Typography */
* {
  margin: 0px;
  padding: 0px;
  font-family: "Fira Sans", serif;
}
body {
  background-color: #f0f0f0; /* Light gray */
}
section {
  margin: 80px 0px;
}
.container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}
button:hover {
  background: #09a15c;
}

/* Nav css */
.nav {
  margin: 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  color: #0e0e0e;
  font-family: "Fira Sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.sing-btn {
  color: #006a50;
  padding: 8px 24px;
  border-radius: 8px;
  border: 1px solid #006a50;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
  transition: 0.5s;
}
.sing-btn:hover {
  background: #09a15c;
  color: white;
  border: 1px solid #09a15c;
}

/* Hero section css */

.hero {
  display: flex;
  margin-top: 48px;
  padding: 80px 0px;
  justify-content: center;
  align-items: center;
  gap: 50px;
  border-radius: 24px;
  background: #c6e4d6;
}

.hero-text {
  padding-left: 32px;
}
.hero-bd {
  color: rgba(14, 14, 14, 0.5);
  display: inline;
  font-size: 24px;
}
.hero-main-heading {
  color: #0e0e0e;
  font-size: 48px;
  font-weight: 700px;
}
.hero-btn,
.news-btn,
.submit-btn {
  padding: 17px 34px;
  justify-content: center;
  align-items: center;
  border: none;
  color: white;
  margin-top: 16px;
  font-size: 18px;
  border-radius: 8px;
  background: #006a50;
  cursor: pointer;
  transition: 0.5s;
}

/* pillars section css */
.pillar-container {
  margin: 80px 0px;
}
.pillar-heading {
  color: #0e0e0e;
  font-size: 40px;
  font-weight: 700;
}

.pillars-box {
  margin: 48px 0px;
  display: flex;
  gap: 32px;
}
.pillar-box {
  border-radius: 16px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  background: #fff;
  padding: 24px;
  border: none;
  line-height: normal;
}
.pillar-box > h2 {
  font-size: 24px;
  margin: 18px 0px;
}

/* Vision section css */
.vision-content > h2 {
  color: #0e0e0e;
  font-size: 40px;
  font-weight: 700;
}

.vision-content > p {
  color: rgba(14, 14, 14, 0.7);
  font-size: 18px;
  margin: 32px 0px;
}

.visions-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}
.vision-box {
  padding: 32px;
  border-radius: 16px;
  color: rgba(14, 14, 14, 0.7);
}
.vision-box > span {
  display: block;
  padding: 18px 0px;
  padding-right: 16px;
}

.vision-btn {
  padding: 17px 34px;
  justify-content: center;
  align-items: center;
  border: none;
  color: white;
  margin-top: 16px;
  font-size: 18px;
  border-radius: 8px;
  background: #006a50;
  transition: 0.5s;
}

.vision-box-1 {
  border: 0px solid #5490f5;
  background: rgba(84, 144, 245, 0.2);
}
.vision-box-2 {
  border-radius: 16px;
  border: 0px solid #09a15c;
  background: #c6e4d6;
}
.vision-box-3 {
  border-radius: 16px;
  border: 0px solid #ffc239;
  background: #f7ebcf;
}

.vision-btn-1 {
  border-radius: 8px;
  background: #5490f5;
  transition: 0.5s;
  cursor: pointer;
}
.vision-btn-2 {
  border-radius: 8px;
  background: #006a50;
  transition: 0.5s;
  cursor: pointer;
}
.vision-btn-3 {
  border-radius: 8px;
  background: #ffc239;
  transition: 0.5s;
  cursor: pointer;
}

/* quote section css */
.quote {
  background-image: url("/assets/quote-bg.png");
  background-repeat: no-repeat;
  padding-top: 24px;
  border-radius: 16px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  background: #fff;
  padding: 48px 24px;
  border: none;
}
.yunus {
  margin: 24px 0px;
}

/* Resent news section css */
.news-container {
  display: flex;
  align-items: center;
  gap: 32px;
  padding: 48px;
  border-radius: 24px;
  background: #fff;
  margin: 48px 0px;
}

.news-img {
  border-radius: 18px;
}
.news-title {
  color: rgba(14, 14, 14, 0.8);
  font-size: 32px;
  font-weight: 700;
  line-height: normal;
}
.publish-time {
  flex-direction: column;
  margin: 24px 0px;
}

/* Donate Today section css */
.donate-title {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: normal;
  margin: 32px 0px;
}
.dontae-para,
.subscribe-para {
  color: rgba(14, 14, 14, 0.7);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}

.amounts-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  margin: 48px 0px;
}
.single-amount-box {
  border-radius: 16px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  padding: 50px 70px;
  background: #fff;
  cursor: pointer;
  transition: 0.5s;
}
.single-amount-box:hover {
  background: #c6e4d6;
}
.single-amount-box > .amount {
  color: rgba(14, 14, 14, 0.8);
  font-size: 32px;
  font-weight: 700;
}

/* Donate input css */
.donate-input {
  border-bottom: 1px solid rgba(14, 14, 14, 0.15);
  background: #fff;
}
#donate-amount {
  padding: 28px 20px;
  border: none;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  font-size: 32px;
}
#donate-amount:focus-within {
  outline: none;
}

.donate-btn {
  text-align: center;
}

/* Subscribe newsletter css */
.subscribe-section {
  width: 100%;
  justify-content: center;
  align-items: center;
  background: #c6e4d6;
  border-radius: 16px;
  padding: 80px 0px;
}

.subscribe-title {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: normal;
  margin: 18px auto;
}
.subscribe-para {
  color: rgba(14, 14, 14, 0.7);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.newsletter-container {
  padding: 18px 20px;
  border: none;
  width: 60% auto;
  text-align: center;
  margin: 0 auto;
  font-size: 32px;
}
.newsletter-input {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgba(14, 14, 14, 0.15);
  border: none;
  border-radius: 18px;
  padding: 16px 0px;
}
.newsletter {
  padding: 20px 25px;
  border-radius: 5px;
  border: 1px solid #cad3db;
  width: 50%;
  font-size: 18px;
  color: #0f121f;
  outline: none;
}

.subscribe-btn {
  background: #006a50;
  padding: 10px;
  border: none;
  width: 244px;
  height: 65px;
  border-radius: 5px;
  font-size: 18px;
  color: white;
  cursor: pointer;
}
.news-buttom {
  color: rgba(14, 14, 14, 0.7);
  text-align: center;
  font-size: 16px;

}

/* footer css */
.footer {
  background-color: #f7f7f7;
  padding: 20px;
}

.footer-text {
  color: #0f121f;
  text-align: center;
  margin: 32px 0px;
  font-size: 28px;
}
.social-icon-box {
  display: block;
  margin: 32px 0px;
  text-align: center;
}
.social-icon-box > img {
  width: 24px;
  margin-left: 24px;
  cursor: pointer;
}
